Select:pseudo-class {
    property: value;
    propertyTow: value
}

.section-3 {
    background-color: #00324A;
    padding: 0px;
}

.third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.all-ages{
    color: #FABE3C;
    font-size: 23px;
    font-weight: 500;
    margin-top: 20px;
}
.button {
    padding: 40px;
}

.see-btn {
    width: 200px;
    height: 50px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid #FABE3C;
    background-color: #FABE3C;
    transition: all 0.3s ease 0s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FDF5F4;
    font-size: 20x;
    font-weight: 500;
}

.see-btn:hover {
    color: #00324A;
}

.cards-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.card1 {
    width: 300px;
    height: 500px;
    border: 1px solid #FDF5F4;
    border-radius: 40px;
    padding: 20px;
    margin: 20px;
    background-color: #FDF5F4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow:  0px 0px 20px 5px rgba(11,47, 61, 0.8);
}

.title1 {
    color: #00324A;
    font-weight: 600;
    font-size: 13px;
    margin: 10px;
}

.icon {
    width: 25px;
}

.title2 {
    font-size: 30;
    font-weight: 600;
    margin: 3px;
    text-align: center;

}

.text {
    color: #00324A;
    font-weight: 500;
    margin: auto;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.card-images {
    width: 200px;
    height: 160px;

}

.card2 {
    width: 300px;
    height: 500px;
    border: 1px solid #00324A;
    border-radius: 40px;
    padding: 20px;
    margin: 20px;
    background-color: #FDF5F4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow:  0px 0px 20px 5px rgba(11,47, 61, 0.8);
}

.card3 {
    width: 300px;
    height: 500px;
    border: 1px solid #00324A;
    border-radius: 40px;
    padding: 20px;
    margin: 20px;
    background-color: #FDF5F4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow:  0px 0px 20px 5px rgba(11,47, 61, 0.8);
}

.smoothy-flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    align-items: center;

}
.container{
    width: 100%;
}
.Smoothy-titles{
    font-size: 23px;
    font-weight: 500;
    color: #FABE3C;
    margin-bottom:20px;
}
.smoothy-texts {
    color: #FDF5F4;
    font-weight:400;
    font-size: 17px;
    text-align: center;
    width: 880px;
}
.smoothy-title {
    color: #FDF5F4;
    font-size:20px;
    font-weight: 400;
    width: 400px;
}
.smoothy-text {
    color: #FDF5F4;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    width: 400px;
}
.dash1 {
    border-radius: 0;
    color: #F15E3D;
}
.dash2 {
    border-radius: 0;
    color:#3AA175;
}
.dash3 {
    border-radius: 0;
    color: #FABE3C;
}
.creativity{
    margin-left:110px;
    margin-top: 50px;

}
.Secure{
    display: grid;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: auto;
}
.game{
   display:grid;
   justify-content:end;
}
.section-4{
    background-color: #00324A;
}
.width1{
    width: 226px;
}
.width2{
    width:309px;
}
.width3{
    width: 293px;
}
.smoothy-img {
    width:225px;
    height:230px;
    margin-left: 80px;
    margin-bottom: 20px;
}
.img-game{
    display: flex;
    justify-content:space-between;
    align-items: center;

}

